body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #8B4513;
    color: #FFD700;
    padding: 20px 0;
    font-family: 'Courier', sans-serif;
}

nav a {
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #f89717d0;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
} 
nav a:hover {
    background-color: #8B4513;
}

.cardapio-duplo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1000px;
}
.cardapio-duplo section {
    flex: 1;
    min-width: 280px;
    background-color: #f89717d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #f89717d0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
}

.social-buttons a {
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    background-color: #8B4513;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.social-buttons a:hover {
    background-color: #f89717d0;
}

.phone-button {
    display: inline-block;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.phone-button:hover {
    background-color: #64f340d0;
}

